#Table {
    text-align: left;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    margin-top: 20px;
    margin-left: 3%;
    margin-bottom: 200px ;
    width: auto;
    
  }


  #Table td, #Table th {
    border: 1px solid #ddd;
  } 

  #Table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
  }

#Table tr:nth-child(even){background-color: #f2f2f2;}

#Table tr:hover {background-color: #ddd;}

.edit {
  margin : 5px;
  width: 50px;
  height: 20px;
  font-size: 10px;
  
}

